<div class="container-fluid">
  <div class="row main-content text-center">
    <div class="col-md-4 text-center company__info">
      <h4 class="company_title">Your Company Logo</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 ">
      <div class="container-fluid">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
          <form #loginForm="ngForm" (ngSubmit)="login()">
            <input type="text" name="username" class="form__input" placeholder="Username" [(ngModel)]="user.username">
            <input type="password" name="password" class="form__input" placeholder="Password"[(ngModel)]="user.password">
            <button class="btn my-2 my-sm-0" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
